<a href="https://colab.research.google.com/github/tingi0514/moneysearch/blob/Finlab/Finlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
print(datetime.datetime.now())
a=datetime.datetime.now().date
print()
print(type(a))

2022-08-13 10:05:39.932730
<built-in method date of datetime.datetime object at 0x7f8554e6ba80>
<class 'builtin_function_or_method'>

In [12]:
! pip install finlab >log.txt

In [13]:
import finlab
dir(finlab)

['LoginPanel',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'data',
 'dataframe',
 'get_token',
 'logger',
 'logging',
 'login',
 'os',
 'threading',
 'time',
 'utils',
 'utils_core']

In [3]:
from finlab import data
data.get('price:收盤價')

輸入成功!

,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,9.54,57.85,32.83,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.00,30.35,9.78,73.60,13.25,51.3,72.40,NaN,46.00,49.60
2007-04-24,9.54,58.10,32.99,38.65,NaN,NaN,NaN,NaN,NaN,NaN,...,32.00,30.50,9.91,75.00,13.25,50.5,71.60,NaN,45.90,50.40
2007-04-25,9.52,57.60,32.80,38.59,NaN,NaN,NaN,NaN,NaN,NaN,...,32.30,29.50,10.10,74.60,13.30,49.9,71.60,NaN,49.10,49.10
2007-04-26,9.59,57.70,32.80,38.60,NaN,NaN,NaN,NaN,NaN,NaN,...,31.60,29.15,10.80,74.50,13.25,49.5,71.00,NaN,48.90,48.00
2007-04-27,9.55,57.50,32.72,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.40,28.50,11.55,75.70,13.15,48.8,69.50,NaN,48.60,46.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-12,NaN,115.40,55.15,97.25,56.35,NaN,23.26,28.56,82.60,NaN,...,20.50,60.30,13.20,18.95,11.50,61.8,21.30,83.7,25.20,15.85
2022-09-13,NaN,116.00,55.45,98.05,56.90,NaN,23.31,28.71,83.05,NaN,...,20.50,60.70,14.15,18.85,11.60,66.6,21.00,83.5,25.30,16.20
2022-09-14,NaN,113.65,54.95,95.95,55.85,NaN,23.03,28.35,NaN,NaN,...,20.70,59.00,13.90,18.55,11.70,67.1,21.00,82.5,25.35,16.35
2022-09-15,NaN,113.85,55.25,96.15,56.00,NaN,23.03,28.59,81.60,NaN,...,20.70,60.30,13.85,18.85,12.00,69.9,20.55,82.8,25.35,16.35
2022-09-16,NaN,112.55,54.80,95.10,55.30,NaN,23.06,28.28,80.85,NaN,...,20.75,59.80,13.85,18.85,11.95,68.9,20.00,81.9,25.30,16.00

In [14]:
import finlab
finlab.login('cGh0Tr7orzPWEI5AuemnvaJwUNWr2v1BbI0U2V6YnODsND6MavzW/L45qp/NBG6r#free')

from finlab import data
data.get('price:收盤價')

輸入成功!

,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,9.54,57.85,32.83,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.00,30.35,9.78,73.60,13.25,51.3,72.40,NaN,46.00,49.60
2007-04-24,9.54,58.10,32.99,38.65,NaN,NaN,NaN,NaN,NaN,NaN,...,32.00,30.50,9.91,75.00,13.25,50.5,71.60,NaN,45.90,50.40
2007-04-25,9.52,57.60,32.80,38.59,NaN,NaN,NaN,NaN,NaN,NaN,...,32.30,29.50,10.10,74.60,13.30,49.9,71.60,NaN,49.10,49.10
2007-04-26,9.59,57.70,32.80,38.60,NaN,NaN,NaN,NaN,NaN,NaN,...,31.60,29.15,10.80,74.50,13.25,49.5,71.00,NaN,48.90,48.00
2007-04-27,9.55,57.50,32.72,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.40,28.50,11.55,75.70,13.15,48.8,69.50,NaN,48.60,46.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-12,NaN,115.40,55.15,97.25,56.35,NaN,23.26,28.56,82.60,NaN,...,20.50,60.30,13.20,18.95,11.50,61.8,21.30,83.7,25.20,15.85
2022-09-13,NaN,116.00,55.45,98.05,56.90,NaN,23.31,28.71,83.05,NaN,...,20.50,60.70,14.15,18.85,11.60,66.6,21.00,83.5,25.30,16.20
2022-09-14,NaN,113.65,54.95,95.95,55.85,NaN,23.03,28.35,NaN,NaN,...,20.70,59.00,13.90,18.55,11.70,67.1,21.00,82.5,25.35,16.35
2022-09-15,NaN,113.85,55.25,96.15,56.00,NaN,23.03,28.59,81.60,NaN,...,20.70,60.30,13.85,18.85,12.00,69.9,20.55,82.8,25.35,16.35
2022-09-16,NaN,112.55,54.80,95.10,55.30,NaN,23.06,28.28,80.85,NaN,...,20.75,59.80,13.85,18.85,11.95,68.9,20.00,81.9,25.30,16.00